.main > .player-board {
  background-color: blue;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.main > .computer-board {
  background-color: red;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  display: none;
}

.main > .computer-board.active {
  display: grid;
}

.grid-cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 1px solid black;
}

.hit {
  background-color: green;
}

.miss {
  background-color: yellow;
}
