@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap");
@import "./board.css";
@import "./ships.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(42, 106, 165);
}

header {
  padding-top: 40px;
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  font-size: 100px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
    4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626,
    6px 20px 20px rgba(0, 0, 0, 1), -1px -1px 0 rgb(141, 135, 135);
  color: #f1f1f1;
}

.main {
  border: 1px solid black;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: space-evenly;
}

.setup-container {
  border: 1px solid black;
  color: white;
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  font-size: 30px;
  margin-left: -100px;
}

.setup-container.remove {
  display: none;
}

.start-button {
  display: none;
}

.start-button.active {
  display: initial;
  margin-top: 200px;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-container .active {
  display: initial;
}

.modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 70%;
  text-align: center;
  font-size: 150px;
}

.modal > .play-again {
  position: fixed;
  top: 60%;
  right: 46%;
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
