.ship-setup-container {
  display: flex;
  margin: 60px 0px 20px 0px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ship-setup-container > div {
  transform: scale(0.8);
}

.ship-setup-container > div:hover {
  transform: scale(1);
}

.horizontal {
  display: flex;
  padding: 15px;
}

.ship-setup-container.horizontal {
  display: block;
  margin: 35px 0px 20px 18px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Carrier-container {
  width: min-content;
  height: min-content;
}

.Carrier-container > .ship-cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Battleship-container {
  width: min-content;
  height: min-content;
}

.Battleship-container > .ship-cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Cruiser-container {
  width: min-content;
  height: min-content;
}

.Cruiser-container > .ship-cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Submarine-container {
  width: min-content;
  height: min-content;
}

.Submarine-container > .ship-cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Destroyer-container {
  width: min-content;
  height: min-content;
}

.Destroyer-container > .ship-cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

/* classes added to the grid cells where ships have been placed */
.Carrier {
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Battleship {
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Cruiser {
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Submarine {
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}

.Destroyer {
  border: 2px solid rgb(43, 46, 212);
  background-color: rgb(26, 28, 98);
}
